#!/usr/bin/env ruby

require 'nanoc-asciidoctor'

compile '/**/*.asc' do
  filter :asciidoctor
  filter :erb
  layout '/default.html'
end

passthrough '/**/*.png'
passthrough '/**/*.gif'
passthrough '/**/*.html'

route '**/*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + (item[:extension] ? '.' + item[:extension] : '')
  else
    item.identifier.without_ext + '.index.html'
  end
end

layout '/**/*', :erb
