#!/usr/bin/env ruby

require 'nanoc-asciidoctor'

compile '**/*.asciidoc' do
  filter :asciidoctor, :safe => :safe, :base_dir => 'content'
  filter :erb
  layout '/default.html'
end

passthrough '/**/*.png'
passthrough '/**/*.gif'
passthrough '/**/*.html'

route '**/*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + (item[:extension] ? '.' + item[:extension] : '')
  elsif item.identifier =~ /\/index.asc/
    '/index.html'
  elsif item.identifier =~ /\/404.asciidoc/
    '/404.html'
  else
    item.identifier.without_ext + '.index.html'
  end
end

layout '/**/*', :erb
