<footer>
  <div class="footer">
    <div class="wrapper no-pad">
      <ul class="footer-left">
        <li><a href="#" data-proofer-ignore>Terms of Use</a></li>
        <li><a href="https://help.github.com/articles/github-privacy-policy/" data-proofer-ignore>Privacy</a></li>
        <li><a href="http://contributor-covenant.org/version/1/2/0" data-proofer-ignore>Code of Conduct</a></li>
        <li><a href="#" data-proofer-ignore>Releases</a></li>
        <li><a href="#" data-proofer-ignore>FAQ</a></li>
        <li><a href="#" data-proofer-ignore>Roadmap</a></li>
        <li><a href="#" data-proofer-ignore>Contact</a></li>
      </ul>

      <div class="footer-right">

      </div>
    </div>
  </div>
</footer>
