<footer>
  <div class="footer">
    <div class="wrapper no-pad">
      <ul class="footer-left">
        <li><a href="/terms">Terms of Use</a></li>
        <li><a href="https://help.github.com/articles/github-privacy-policy/">Privacy</a></li>
        <li><a href="http://contributor-covenant.org/version/1/2/0">Code of Conduct</a></li>
        <li><a href="/releases">Releases</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/roadmap">Roadmap</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="footer-right">
        <a href="https://github.com"><span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <span class="octicon octicon-logo-github"></span></a>
      </div>
    </div>
  </div>
</footer>
