<div id="platform-nav">
  <ul>
    <li class="platform-mac">
      <a href="#platform-mac" data-platform="mac">
        mac
      </a>
    </li>
    <li class="platform-windows">
      <a href="#platform-windows" data-platform="windows">
        windows
      </a>
    </li>
    <li class="platform-linux">
      <a href="#platform-linux" data-platform="linux">
        linux
      </a>
    </li>
    <li class="platform-all">
      <a href="#platform-all" data-platform="all">
        all
      </a>
    </li>
  </ul>
</div>
