<script id="quicksearch-results-template" type="text/mustache">
  [[#entries]]
    <a href="[[url]]" class="js-articles-quicksearch-link">[[title]]</a>
  [[/entries]]
  <a class="initial quicksearch-seemore" href="/search?q=">See more results</a>
</script>

<script id="search-results-template" type="text/mustache">
  [[#entries]]
    <li>
      <h3>
        <a href="[[url]]">[[title]]</a>
        <div class="label"><a href="[[category_url]]">[[category]]</a></div>
      </h3>
      <p>
      [[excerpt]]
      </p>
    </li>
  [[/entries]]
</script>

<div class="documents-search" style="display: flex; align-items: center;">
  <select id="documents-search-versions" style="display: inline; margin-right: 20px; height: 40px;">
    <% atom_versions.reverse_each do |available_version| %>
      <option <%= available_version == @version ? "selected" : "" %> value="<%= available_version %>">
        <%= available_version %>
      </option>
    <% end %>
  </select>
  <form accept-charset="UTF-8" action="/search" id="articles-search" method="get" style="width: 100%"><div style="margin:0;padding:0;display:inline;"><input name="utf8" type="hidden" value="✓"></div>
    <input type="search" name="q" id="quicksearch-query" class="documents-search-input js-articles-quicksearch" placeholder="Search the Flight Manual" autocomplete="off">
  </form>
</div>

<div class="autocomplete-results" style="display: none;">
  <div class="result-group"></div>
</div>
