<div class="top-bar">
  <div class="wrapper no-pad">

    <ul class="navigation">
      <li><h1 title="Atom: A hackable text editor for the 21st Century"><a href="https://atom.io/" class="logo-small"></a></h1></li>
      <li><a href="https://atom.io/packages">Packages</a></li>
      <li><a href="https://atom.io/themes">Themes</a></li>
      <li><a href="https://atom.io/docs" class="is-selected">Documentation</a></li>
      <li><a href="http://blog.atom.io">Blog</a></li>
      <li><a href="https://discuss.atom.io">Discuss</a></li>
    </ul>

  </div>
</div>
