<div class="top-bar">
  <div class="wrapper no-pad">

    <ul class="navigation">
      <li><h1 title="Atom: A hackable text editor for the 21st Century"><a href="/" class="logo-small"></a></h1></li>
      <li><a class="" href="/packages" data-proofer-ignore>Packages</a></li>
      <li><a class="" href="/themes" data-proofer-ignore>Themes</a></li>
      <li><a class="is-selected" href="/docs" data-proofer-ignore>Documentation</a></li>
      <li><a href="http://blog.atom.io">Blog</a></li>
      <li><a href="http://discuss.atom.io">Discuss</a></li>
    </ul>

  </div>
</div>
