<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= renderp '/includes/meta.html' %>
  </head>
  <body>
    <div class="footer-push">
      <%= renderp '/includes/top_bar.html' %>
      <%= renderp '/includes/search.html' %>      
      <div class="wrapper documents content-push wide">
        <div class="toc">
          <%= renderp '/includes/toc.html', :heading => 'h4', :title => @item[:title] %>
        </div>
        <div class="markdown-body document-content">
          <h1><%= lookup_section('toc', @item[:title]) << ' ' << @item[:title] %></h1>
          <div class="manual-docs">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer-pad"></div>
    </div>
    <%= renderp '/includes/bottom_bar.html' %>
  </body>
</html>
