<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= renderp '/includes/meta.html' %>
  </head>
  <body>
    <div class="footer-push">
      <%= renderp '/includes/top_bar.html' %>
      <% unless ENV['RACK_ENV'] == 'production' %>
      <%= renderp '/includes/banner.html' %>
      <% end %>
      <div class="wrapper documents content-push wide">
        <div class="toc">
          <%= renderp '/includes/toc.html', :heading => 'h4' %>
        </div>
        <div class="markdown-body">
          <div class="manual-docs">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer-pad"></div>
    </div>
    <%= renderp '/includes/bottom_bar.html' %>
  </body>
</html>
