<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= renderp '/includes/meta.html' %>
  </head>
  <body class="layout-article">
    <div class="footer-push">
      <%= renderp '/includes/top_bar.html' %>
      <div class="wrapper documents content-push wide">
        <%= renderp '/includes/search.html' %>

        <div class="toc">
          <%= renderp '/includes/toc.html', :heading => 'h4', :title => @item[:title] %>
        </div>

        <h1 class="document-title">
          <%= renderp '/includes/platform-nav.html' %>
          <a class="improve-link"
              href="<%= "https://github.com/atom/flight-manual.atom.io/edit/master/content#{@item.identifier}" %>" data-proofer-ignore>
            <span class="octicon octicon-pencil"></span> Improve this page
          </a>
        </h1>

        <div class="markdown-body document-content">
          <%= yield %>
          <% chapter = lookup_chapter('toc', @item[:title]) %>
          <% if @item[:title] != 'FAQ' %>
            <h2>Sections</h2>
          <% end %>
          <ul>
            <% chapter.section_names.each do |name| %>
              <li class="<%= name == @title && @item[:filename].include?(chapter.name.parameterize) ? 'selected' : 'unselected'%>">
                <a href="/<%= chapter.name.parameterize + '/sections/' + name.parameterize %>"><%= name %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="footer-pad"></div>
    </div>
    <%= renderp '/includes/bottom_bar.html' %>
  </body>
</html>
