<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= renderp '/includes/meta.html' %>
  </head>
  <body>
    <div class="footer-push">
      <%= renderp '/includes/top_bar.html' %>
      <div class="wrapper wrapper--overflow documents content-push">
        <%= renderp '/includes/search.html' %>
        <div class="markdown-body">
          <div class="manual-docs">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer-pad"></div>
    </div>
    <%= renderp '/includes/bottom_bar.html' %>
  </body>
</html>
